force-app/main/default/flows/Account_Contact_Delete_On_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Account Contact Delete On Update Flow {!$Flow.CurrentDateTime}
{!$Label.Duplicate_Record_Error}
{!$Flow.FaultMessage}</interviewLabel>
    <label>Account Contact Delete On Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Contacts</name>
        <label>Delete Contacts</label>
        <locationX>571</locationX>
        <locationY>511</locationY>
        <inputReference>Get_Account_With_Associated_Contact</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_With_Associated_Contact</name>
        <label>Get Account With Associated Contact</label>
        <locationX>660</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>88</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Get_Account_With_Associated_Contact</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
