force-app/main/default/flows/Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Current_Item_To_LIst</name>
        <label>Add Current Item To LIst</label>
        <locationX>747</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>Contacts_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_For_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reparent_Contacts</name>
        <label>Reparent Contacts</label>
        <locationX>1115</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>Loop_For_Contacts.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Item_To_LIst</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Account_With_Same_Exists</name>
        <label>If Account With Same Exists</label>
        <locationX>1270</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Same_Name_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Account</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>sabse sabse latest</description>
    <environments>Default</environments>
    <interviewLabel>Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account With Same Name Reparent Child Flow</label>
    <loops>
        <name>Loop_For_Account</name>
        <label>Loop For Account</label>
        <locationX>792</locationX>
        <locationY>110</locationY>
        <collectionReference>Get_Same_Name_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Associated_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Contacts</name>
        <label>Loop For Contacts</label>
        <locationX>950</locationX>
        <locationY>337</locationY>
        <collectionReference>Get_Associated_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reparent_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_For_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Old_Account</name>
        <label>Delete Old Account</label>
        <locationX>1349</locationX>
        <locationY>557</locationY>
        <inputReference>Get_Same_Name_Account</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Associated_Contacts</name>
        <label>Get Associated Contacts</label>
        <locationX>571</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_For_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Same_Name_Account</name>
        <label>Get Same Name Account</label>
        <locationX>572</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>1115</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>If_Account_With_Same_Exists</targetReference>
        </connector>
        <inputReference>Contacts_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Get_Same_Name_Account</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contacts_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
