force-app/main/default/flows/Create_Contact_Relationship_On_Contact_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>If_Contact_Relationship_Contains_Contact</name>
        <label>If Contact Relationship Contains Contact</label>
        <locationX>771</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Relationship_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Relationship_to_Contact</targetReference>
            </connector>
            <label>Execute</label>
        </rules>
    </decisions>
    <description>Final Version</description>
    <environments>Default</environments>
    <interviewLabel>Create Contact Relationship On Contact Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact Relationship On Contact Flow</label>
    <loops>
        <name>Loop_for_Contact</name>
        <label>Loop for Contact</label>
        <locationX>681</locationX>
        <locationY>49</locationY>
        <collectionReference>Get_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Relationship_Records</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_On_Contact_Relationship</name>
        <label>Loop On Contact Relationship</label>
        <locationX>1133</locationX>
        <locationY>269</locationY>
        <collectionReference>Get_Contact_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Owner_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Relationship_to_Contact</name>
        <label>Create Contact Relationship to Contact</label>
        <locationX>778</locationX>
        <locationY>616</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>488</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Relationship_Records</name>
        <label>Get Contact Relationship Records</label>
        <locationX>405</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Contact_Relationship_Contains_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_for_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_Name</name>
        <label>Update Owner Name</label>
        <locationX>895</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Loop_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_On_Contact_Relationship.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Owner.FirstName} {!$Record.Owner.LastName}</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GetContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
