force-app/main/default/flows/Out_of_Business.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Alter_All_Open_Opp_to_Close</name>
        <label>Alter All Open Opp to Close</label>
        <locationX>921</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Open_Opps.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_closed_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collect_closed_opps</name>
        <label>collect closed opps</label>
        <locationX>183</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>allClosedOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Open_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Open_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Null</name>
        <label>Check For Null</label>
        <locationX>595</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Open_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Open_Opps</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <description>latest</description>
    <environments>Default</environments>
    <interviewLabel>Out of Business {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Out of Business</label>
    <loops>
        <name>Loop_Over_Open_Opps</name>
        <label>Loop Over Open Opps</label>
        <locationX>553</locationX>
        <locationY>537</locationY>
        <collectionReference>All_Open_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Alter_All_Open_Opp_to_Close</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Open_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Open_Opps</name>
        <label>All Open Opps</label>
        <locationX>586</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Open_Opps</name>
        <label>Update Open Opps</label>
        <locationX>1169</locationX>
        <locationY>399</locationY>
        <inputReference>allClosedOpps</inputReference>
    </recordUpdates>
    <start>
        <locationX>27</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>All_Open_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Out_of_Business__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>allClosedOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
