force-app/main/default/flows/Scheduled_Case_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Description_Update_on_the_case_when_It_is_created_before_30_days</name>
        <label>Description Update on the case when It is created before 30 days</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Iteration_of_Records.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A30daypriorValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iteration_of_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iteration_of_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>A30daypriorValue</name>
        <dataType>Date</dataType>
        <expression>Today() - 30</expression>
    </formulas>
    <interviewLabel>Scheduled Case Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Case Update</label>
    <loops>
        <name>Iteration_of_Records</name>
        <label>Iteration of Records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Case_Update_When_Long_Time_When_no_Status_change</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Description_Update_on_the_case_when_It_is_created_before_30_days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Update_When_Long_Time_When_no_Status_change</name>
        <label>Case Update When Long Time When no Status change</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iteration_of_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>A30daypriorValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputReference>Iteration_of_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Update_When_Long_Time_When_no_Status_change</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-28</startDate>
            <startTime>16:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
